[aiq-sail-on]
experiment_type = SAIL-ON
username = demo@example.com
secret = 2d51a2672cbd4346985da63bdb947a00
organization = DemoOrg
model_name = DemoAgent42

[sail-on]
domain = cartpole
experiment_secret = 6d38d7d6870641b39614f229f722bfbd

[amqp]
user = demo_ta2
pass = tRd5CpOq9ZkWnPpSaYmQ
host = aiq.ailab.wsu.edu
vhost = /demo
port = 5671
ssl = True

