[aiq-sail-on]
experiment_type = SAIL-ON
username = klenk@parc.com
secret = 6453d48f28964f9896db9d918dcb6291
organization = PARC
model_name = mockn-eval-01

[sail-on]
domain = cartpole
experiment_secret = 4d6ea5555cee460793a110a75a553b63

[amqp]
user = mockn_parc_ta2
pass = c54113d315a48c5be6c14cfcd2477a7d6f3a91c8198f001946dc9a9e8a2312ce
host = aiq.ailab.wsu.edu
vhost = /mockn
port = 5671
ssl = True